.slide1-bg {
    background-image: url("../../../assets/images/bg1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.slide2-bg {
    background-image: url("../../../assets/images/bg2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.slide3-bg {
    background-image: url("../../../assets/images/bg3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}